button.navbar-toggler{
	border:none;
}
nav{
	text-align: left;
}
hr{
	width:33%;
	border-color:black;
	display: inline-block;
}
h1.head{
	display:inline;
	font-size: 15pt;
	margin-top:10px;
}
h2.head{
	display:inline;
	font-size:10pt;

}
div.userheading{
	width:33%;
	display:inline-block;
	text-align: center;
}
span.usertext{
	width:66%;
	text-align:center;
	display: inline-block;
	position:relative;
	top:10px;
}
