button.navbar-toggler{
	border:none;
}
nav{
	text-align: left;
}
hr{
	width:30%;
	border-color:black;
	display: inline-block;
}
img{
	display: inline-block;
	vertical-align: center;
	height: 10px;
}
h1{
	display:inline-block;
	font-size: 15pt;
	margin-top:10px;
}
h2{
	display:inline-block;
	font-size:10pt;
}
div.userheading{
	display:inline-block;
	text-align: center;
	size: 10px;
}
span.usertext{
	width:66%;
	text-align:center;
	display: inline-block;
	position:relative;
	top:10px;
}