	
	h1	{
	text-align: center;
	color: #005FB2;
	font-size: 52px;
	border: 7px solid #005FB2;
	border-bottom: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding:32px;
	padding-bottom: 0px;
	}